/*.ant-layout-header {
  background: white;
  margin-top: 50px;
  height: 300px;
}

.ant-layout-header, .h1 {
  font-size: 4em;
  font-weight: 500;
}

.ant-layout-header, .h2 {
  font-weight: 300;
  font-size: 2em;
}*/